{
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ],
    "plugins": [
        [
          "module-resolver",
          {
            "alias": {
                    "components": "./src/components",
                    "store":"./src/store",
                    "reducers":"./src/reducers",
                    "styles":"./src/styles",
                    
            }
          }
        ]
      ]
  }